language: cpp
cache: ccache
dist: trusty
services:
  - docker
os:
  - linux
env:
  - JOB=PRE_COMMIT

addons:
  apt:
    packages:
      - git
      - python
      - python-pip
      - python2.7-dev
  ssh_known_hosts: 13.229.163.131
before_install:
  - sudo pip install -U virtualenv pre-commit pip

script:
  - exit_code=0
  - .travis/precommit.sh || exit_code=$(( exit_code | $? ))

notifications:
  email:
    on_success: change
    on_failure: always
